name: Node.js Deployment with NGINX and SSL

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS using SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            # Navigate to the correct directory
            cd /var/www/sarabelanews/api

            # Fetch the latest changes
            git fetch --all
            git reset --hard origin/main

            # Setup environment and dependencies

              cp .env.example .env


            npm install

            # Build the Next.js application for production
            npm run build

            # Restart PM2 process (if applicable)
            pm2 restart sarabelanews-api || pm2 start npm --name "sarabelanews-api" -- run start

            # Restart Nginx to apply changes
            sudo systemctl restart nginx
